/* custom styles overwriting */

/* froala custom characters insertion */

.fr-popup.fr-desktop > .fr-icon-container.fr-sc-container {
  font-family: "CDE2020";
}

button.fr-special-character-category[data-param1] > span {
  transform: translateX(-25%);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: 0.8;
}

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid #6610f2;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* auto complete */
.autocomplete-suggestions {
  border: 1px solid #999;
  height: 200px;
  background: #fff;
  cursor: default;
  overflow: scroll;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-no-suggestion {
  padding: 2px 5px;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.autocomplete-suggestions strong {
  font-weight: bold;
  color: #000;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}

/* disable quick insert*/
.fr-box.fr-basic .fr-insert-helper.fr-visible {
  display: none;
}

/* drag and drop*/
[draggable="true"] {
  cursor: move;
  user-select: none;
}

[draggable="false"] {
  cursor: not-allowed;
}

/* vsi webfons*/
@font-face {
  font-family: "CDE2020";
  src: url("CDE2020-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CDE2020";
  src: url("CDE2020-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CDE2020";
  src: url("CDE2020-Italic.woff2");
  font-weight: normal;
  font-style: italic;
}

/* test */

.module {
  border: 0px solid #666;
  cursor: move;
}

.module:hover {
  background-color: lightgray;
}

.module.over {
  border: 2px dotted gray;
  border-left: 2px solid red;
}

[draggable] {
  user-select: none;
}

.fr-tooltip {
  z-index: 50000 !important;
}

/* dashboard b5 style classes */

h1 {
  color: #565294;
}

body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/* froala hide hack shortcut buttons */
button[data-cmd^="insChar"] {
  margin: unset !important;
  width: 0px !important;
  visibility: hidden !important;
}
